
html {
    scroll-behavior: smooth;
  }

h1{
    font-family: 'Open Sans', sans-serif;
    /* font-size: 2.5rem; */
    font-size: clamp(1.2rem, 6vw, 3rem);
    color: #dbdbdb;
}

.section {
    /* //background-color: #ffffffb9; */
    position: relative;
    display: inline-block;
    width: 75%;
    min-height: 85vh;
    margin: 0 auto;
    /* padding-top: 10vh; */
    padding: 10vh 1rem 1rem 1rem;
    border-radius: 1rem;
    color: rgb(54, 54, 54);
    align-items: center;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}